[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
pytz = "*"
aiohttp = "*"
celery = "*"
redis = "*"
django-q = "*"

[dev-packages]

[requires]
python_version = "3.11"
